<div class="header">
  <div class="header-block">
   <div class="header-left">
    <div class="header-logo">
      <img src="/assets/Frame.svg" alt="Логотип">
    </div>
    <nav class="header-nav">
      <a class="header-nav-item">{{ firstheader1 }}</a>
      <a class="header-nav-item">{{ firstheader2 }}</a>
      <a class="header-nav-item" *ngIf="isShowCatalog">{{ firstheader3 }}</a>
       <a class="header-nav-item" routerLink="/users">Пользователи</a>
     </nav>
     <button (click)="isShowCatalog = !isShowCatalog">Скрыть/Показать каталог</button>
  </div>
  
  <div class="header-right">
    <div class="header-phone">
      <img src="/assets/Phone.svg" alt="телефон">
    </div>
    <div class="header-nav2">
      <a class="header-nav-item2">+7(965) 084-29-29</a>
      <div class="header-nav-item2">
        <img src="/assets/heart.svg" alt="сердце" class="icon2">
      </div>
      <button class="cart-container">
        <img src="/assets/cart.svg" alt="корзина" class="icon">
        <span class="cart-text">Пусто</span>
      </button>
    </div>
  </div>
 </div>
</div>

<div class="header-under">
  <div class="header-content">
    <div class="header-stroky">☰</div>
    <nav class="under-nav">
      <a *ngFor="let item of catalog"
      class="under-nav-item"
      [style.text-transform]="isUpperCase ? 'uppercase' : 'none' ">
    {{ item }}
    </a>
    <button type="button" (click)="toggleText()">
      изменить текст
    </button>
    </nav>
    <div class="header-actions">
      <div class="search-container">
        <input type="text" placeholder="Поиск, например Круг зачистной" class="search-input">
        <img src="/assets/icons8-лупа.svg" alt="Поиск" class="search-icon">
      </div>
      <div class="location">
        <img src="/assets/location.svg" alt="Локация" class="location-icon">
        <button class="country" type="menu">Москва</button>
      </div>
    </div>
  </div>
</div>