<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="/assets/Frame.svg" alt="Логотип">
    </div>
    <nav class="header-nav">
      <a class="header-nav-item">Главная</a>
      <a class="header-nav-item">О компании</a>
      <a class="header-nav-item">Каталог</a>
    </nav>
  </div>
  
  <div class="header-right">
    <div class="header-phone">
      <img src="/assets/Phone.svg" alt="телефон">
    </div>
    <div class="header-nav2">
      <a class="header-nav-item2">+7(965) 084-29-29</a>
      <div class="header-nav-item2">
        <img src="/assets/heart%201.svg" alt="сердце" class="icon2">
      </div>
      <button class="cart-container">
        <img src="/assets/cart.svg" alt="корзина" class="icon">
        <span class="cart-text">Пусто</span>
      </button>
    </div>
  </div>
</div>

<div class="header-under">
  <div class="header-content">
    <div class="header-stroky">☰</div>
    <nav class="under-nav">
      <a class="under-nav-item">Каталог</a>
      <a class="under-nav-item">Стройматериалы</a>
      <a class="under-nav-item">Инструменты</a>
      <a class="under-nav-item">Электрика</a>
      <a class="under-nav-item">Интерьер и одежда</a>
    </nav>
    <div class="header-actions">
      <div class="search-container">
        <input type="text" placeholder="Поиск, например Круг зачистной" class="search-input">
        <img src="/assets/icons8-лупа.svg" alt="Поиск" class="search-icon">
      </div>
      <div class="location">
        <img src="/assets/location.svg" alt="Локация" class="location-icon">
        <button class="country" type="menu">Москва</button>
      </div>
    </div>
  </div>
</div>

<div class="banner-container">
  <img src="/assets/Rectangle 5.png" alt="background-targe">
  <div class="overlay">
    <div class="overlay-content">
      <h1 class="overlay-text">Инструмент для вашего<br>бизнеса</h1>
    </div>
  </div>
</div>

<div class="content-container">
  <div class="header-disabled-container">
  <div class="header-disabled-container">
    <img src="/assets/BrickWall.png" alt="brick" class="icon3">
    <div class="header-disabled-left">
      <div class="disabled-text"><span class="bold-black">Большой ассортимент</span> строительных материалов всегда в наличии</div>
    </div>
  </div>
  <div class="header-disabled-container">
    <img src="/assets/Delivery.png" alt="Delivery" class="icon4">
    <div class="header-disabled-left">
      <div class="disabled-text"><span class="bold-black">Доставка стройматериалов</span> в течении четырех часов или в любое удобное время</div>
    </div>
  </div>
  <div class="header-disabled-container">
    <img src="/assets/like.png" alt="like" class="icon5">
    <div class="header-disabled-left">
      <div class="disabled-text">Многоуровневая <span class="bold-black">система управления качеством</span> по стандарту ISO 9001</div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="item-cards">
    <div class="item-cards__pagination">
      <button class="item-cards__pagination-button active-button">1</button>
      <button class="item-cards__pagination-button">2</button>
      <button class="item-cards__pagination-button">3</button>
      <button class="item-cards__pagination-button">4</button>
      <button class="item-cards__pagination-button">5</button>
    </div>
  <div class="item-cards__grid">
    <div class="item-cards__grid-left">
      <div class="item-cards__grid-left-text">
        Строительный отделочный инструмент
      </div>
      <div class="item-cards__grid-left-action">
        <span style="margin-right: 10px;">Перейти в каталог</span>
        <a class="item-cards__grid-left-action-link">
          <img src="/assets/Frame-20.png">
        </a>
      </div>
    </div>
    <div class="item-cards__grid-right">
      <div class="item-cards__grid-right-block-1">
        <div class="item-cards__grid-right-block-1-text">
          Эмали
        </div>
        <div class="item-cards__grid-right-block-action-1">
        <span style="margin-right: 10px;">Перейти в каталог</span>
        <a class="item-cards__grid-right-block-action-link-1">
          <img src="/assets/Frame-20.png">
        </a>
      </div>
      </div>
      <div class="item-cards__grid-right-block-2">
        <div class="item-cards__grid-right-block-2-text">
         Лакокрасочные материалы
        </div>
        <div class="item-cards__grid-right-block-action-2">
        <span style="margin-right: 10px;">Перейти в каталог</span>
        <a class="item-cards__grid-right-block-action-link-2">
          <img src="/assets/Frame-20.png">
        </a>
      </div>
      </div>
      <div class="item-cards__grid-right-block-3">
        <div class="item-cards__grid-right-block-3-text">
        Пены, клеи и<br>герметики
        </div>
        <div class="item-cards__grid-right-block-action-3">
        <span style="margin-right: 10px;">Перейти в каталог</span>
        <a class="item-cards__grid-right-block-action-link-3">
          <img src="/assets/Frame-20.png">
        </a>
      </div>
      </div>
      <div class="item-cards__grid-right-block-4">
        <div class="item-cards__grid-right-block-4-text">
         Розетки и выключатели
        </div>
        <div class="item-cards__grid-right-block-action-1">
        <span style="margin-right: 10px;">Перейти в каталог</span>
        <a class="item-cards__grid-right-block-action-link-1">
          <img src="/assets/Frame-20.png">
        </a>
      </div>
    </div>
  </div>
</div>
