.banner-container {
  position: relative;
  display: inline-block;
  width: 1920px;
  height: 720px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 200px;
  height: 99%;
  display: flex;
  align-items: center;
}

.overlay-content {
  padding: 20px;
  color:#F0BA4E;
  text-align: center;
}

.overlay-text {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  width: 500px;
}

.header-disabled-container {
  display: flex;
  width: 1319px;
  height: 72px;
  margin: 0 auto;
  align-items: center;
  gap: 28px;
  margin-bottom: 20px;
}

.header-disabled-left {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.disabled-text {
  font-weight: normal;
  color: #808080;
}

.bold-black {
  font-weight: normal;
  color: #000000;
}

.icon3, .icon4, .icon5 {
  width: 72px;
  height: 72px;
}

.content-block {
  width: 1319px;
  height: 100%;
  margin: auto;
}
.item-cards__pagination {
  display: flex;
  justify-content: end;

  &-button {
    border: none;
    background: none;
    color: #A1A0A0;
  }
}

.active-button {
  color: #F0BA4E;
  font-weight: 600;
}

.item-cards__grid {
  display: flex;
}

.item-cards__grid-left {
  height: 428px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  max-height: 428px;
  max-width: 421px;
  background-image: url("/assets/spray_gun.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;
  margin-bottom: 50px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-left-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
}

.item-cards__grid-left-action {
  font-size: 13px;
  color: #3C3C3B;
  align-self: end;
  align-items: center;
  display: flex;
}

.item-cards__grid-left-action-link {
  height: 40px;
  width: 40px;
}

.item-cards__grid-right {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 30px;
  margin-left: 30px;
}

.item-cards__grid-right-block-1 {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  background-image: url("/assets/decorix.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-block-1-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.item-cards__grid-right-block-action-1 {
  font-size: 13px;
  color: #3C3C3B;
  align-self: end;
  align-items: center;
  display: flex;
}

.item-cards__grid-right-block-action-link-1 {  
  height: 40px;
  width: 40px;
}

.item-cards__grid-right-block-2 {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  background-image: url("/assets/dulux_bucket.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: right;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-block-2-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.item-cards__grid-right-block-action-2 {
  font-size: 13px;
  color: #3C3C3B;
  align-items: center;
  display: flex;
}

.item-cards__grid-right-block-action-link-2 {  
  height: 40px;
  width: 40px;
}

.item-cards__grid-right-block-3 {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  background-image: url("/assets/foam.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: right;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-block-3-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
  display: flex;
  width: 300px;
}

.item-cards__grid-right-block-action-3 {
  font-size: 13px;
  color: #3C3C3B;
  align-items: center;
  display: flex;
}

.item-cards__grid-right-block-action-link-3 {  
  height: 40px;
  width: 40px;
}

.item-cards__grid-right-block-4 {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  background-image: url("/assets/socket.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-block-4-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
  display: flex;
}

.content-nav {
  display: flex;
}

.content-nav-block {
  width: 1320px;
  height: 251px;
  background-color: #F6F6F6;
  background-image: url("/assets/builder.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 810px;
  padding: 22px;
  box-sizing: border-box;
  margin-bottom: 50px;
  position: relative;
  }

.content-nav-text {
  font-size: 28px;
  color: #3C3C3B;
}

.content-nav-text-down {
  font-size: 20px;
  color: #A1A0A0;
  padding: 15px 0px;
}

.content-nav-action {
 font-size: 18px;
 font-weight: 600px;
 position: absolute;
 bottom: 22px;
 left: 22px;
 color: #F0BA4E;
}

.item-catalog {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.item-cards-catalog-text {
  font-size: 28px;
  width: 282px;
  height: 34px;
  font-weight: 500;
  margin-bottom: 10px;
}

.item-cards-catalog-action {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #F0BA4E;
}


.item-cards-catalog {
  Width: 1320px;
  Height: 429px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 50px;
}

.item-catalog-blocks-1 {
  width: 309px;
  height: 429px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  padding: 22px;
  box-sizing: border-box;
  position: relative;
    img {
    position: absolute;
    
    &.icon-news {
      z-index: 2;
      top: 22px; 
    }

    &.icon-wheel {
      z-index: 1;
      bottom: 22px;
      right: 22px;
    }
  }
}

.item-catalog-name__product { 
  font-size: 20px;
  position: absolute;
  top: 210px;
  font-weight: 600;
}

.product-article {
  font-size: 16px;
  position: absolute;
  top: 30px;
  font-weight: 400
  }

.price-product {
  font-size: 14px;
  position: absolute;
  top: 80px;
  font-weight: 400
}

.price-product-sale {
  position: absolute;
  top: 100px;
  font-weight: 600;

  .old-price {
    font-size: 16px;
    text-decoration: line-through;
  }

  .new-price {
    font-weight: 600px;
    margin-left: 10px;
    font-size: 20px;
  }
}

.fix-price {
  font-weight: 100;
  font-size: 18px
}

.quantity-control {
      display: flex;
      align-items: center;
      font-size: 14px;
      position: absolute;
      top: 150px;
      font-weight: 100;
 } 

.action-button {
  display: flex;
  position: absolute;
  top: 180px;
  font-weight: 100;
  font-size: 20px;
  width: 61px;
  height: 24px;
}

.action-minus {
        background-color: #ffffff;
        border: none;
        width: 11px;
        height: 19px;
        font-size: 18px;
        cursor: pointer;
        margin-right: 10px;
        text-align: center;
        padding:0px;
}

.action-plus {
        background-color: #ffffff;
        border: none;
        width: 11px;
        height: 19px;
        font-size: 18px;
        cursor: pointer;
        margin-left: 10px;
        text-align: center;
        padding:0px;
}

.span {
        margin: 0 10px;
        font-size: 16px;
}

.price-product-action { 
  position: absolute;
  background-color: #ffffff;
  border: none;
  top:130px;
  left: 65px;
  width: 135px;
  height: 47px;
}

.item-catalog-blocks-2 {
  width: 309px;
  height: 429px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  padding: 22px;
  box-sizing: border-box;
  position: relative;

    img {
    position: absolute;
    
    &.icon-news {
      z-index: 2;
      top: 22px; 
    }

    &.icon-wheel {
      z-index: 1;
      bottom: 22px;
      right: 22px;
    }
  }
}

.item-catalog-blocks-3 {
  width: 309px;
  height: 429px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  padding: 22px;
  box-sizing: border-box;
  position: relative;

    img {
    position: absolute;
    
    &.icon-news {
      z-index: 2;
      top: 22px; 
    }
    
    &.icon-sale {
      z-index: 2;
      top: 70px;
    }
    
    &.icon-wheel {
      z-index: 1;
      bottom: 22px;
      right: 22px;
    }
  }
}

.item-catalog-blocks-4 {
  width: 309px;
  height: 429px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  padding: 22px;
  box-sizing: border-box;
  position: relative;

  img {
    position: absolute;
    
    &.icon-news {
      z-index: 2;
      top: 22px; 
    }

    &.icon-wheel {
      z-index: 1;
      bottom: 22px;
      right: 22px;
    }
  }
}

.icon-heart {
  width: 20px;
  height: 18px;
  position: absolute;
  left: 265px;
  top: 35px;
}

.icon-wheel {
  position: absolute;
  left: 90px;
  top: 45px;
}

.futer-block {
  width: 100%;
  background-color: #4B565E;
}

.futer-block-child {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
 height: 373px;
 color: white;
 width: 1320px;
 margin: 0 auto;
 padding-top: 40px;
 box-sizing: border-box;
 position: relative;
}

.futer-block-child::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
  height: 245px;
  width: 0.1px;
  background-color: #566169;
}

.futer-block-child::after {
  content: "";
  position: absolute;
  left: 0; 
  top: 66%; 
  transform: translateY(-50%); 
  width: 1320px; 
  height: 0.1px;
  background-color: #566169;
}

.futer-block-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.logo-icon {
  width: 59px;
  height: 39px;
  margin-bottom: 40px;
}

.contact-information {
  display: flex;
  align-items: center;
  width: 100%;
}

.phone-number {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff80;
}

.call-icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  margin-top: -64px;
}

.sms-icon {
  width: 24px;
  height: 24px;
  margin-left: 100px;
  margin-right: 15px;
  margin-top: -64px;
}

.email-information {
  display: flex;
  align-items: center;
}

.email-inscription {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff80;
}

.phone-number-1 {
  font-size: 16px;
  padding-top: 12px;
  color: #ffffff;
}

.phone-number-2 {
  font-size: 16px;
  padding-top: 12px;
  color: #ffffff;
}


.email-1 {
  font-size: 16px;
  padding-top: 12px;
  color: #ffffff;
}

.email-2 {
  font-size: 16px;
  padding-top: 12px;
  color: #ffffff;
}

.futer-block-nav {
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.futer-block-nav-item {
  margin-right: 20px;
  font-size: 14px;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.social-icons-item {
  margin-right: 20px;
  margin-top: 13px;
}
.social-icon {
  width: 20px;
  height: 20px;
}


.social-icon-2 {
  width: 20px;
  height: 20px;
}

.futer-block-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.futer-block-right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
  gap: 15px;
}

.futer-block-right-text {
  font-size: 16px;
  width: 182px;
  height: 22px;
  font-weight: 700;
}

.futer-block-right-information {
  font-size: 14px;
  width: 534px;
  height: 70px;
  color: #ffffff80;
  line-height: 24px;
}

.email-subscription {
  width: 510px;
  height: 48px;
  padding-left: 24px;
  background-color: #4B565E;
  border-radius: 999px;
  border: 1px solid #F0BA4E;
  display: flex;
  align-items: center;
  
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .input-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  input {
    background: transparent;
    border: none;
    color: white;
    padding-left: 36px; // Отступ для иконки
    width: 100%;
    height: 100%;
    
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      transition: opacity 0.3s ease;
    }
    
    &:focus {
      outline: none;
      
      &::placeholder {
        opacity: 0;
      }
      
      & ~ .input-icon {
        opacity: 0;
      }
    }
    
    &:not(:placeholder-shown) {
      & ~ .input-icon {
        opacity: 0;
      }
    }
  }
  
  .input-icon {
    margin-right: 15px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 11px;
    background-image: url('/assets/sms.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  button {
    background-color: #F0BA4E;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 36px;
    color: #ffffff;
    font-size: 14px;
    margin-right: 6px;
    cursor: pointer;
  }
}

.data-execution-block {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff80;
  bottom: 28px;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-regular.woff2') format('woff2');
}
