.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: white;
  background-color: #4B565E;
  padding: 0 240px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 20px;
}

.header-nav {
  display: flex;
}

.header-nav-item {
  margin-right: 20px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-phone {
  margin-right: 20px;
  display: flex;
}

.header-nav2 {
  align-items: center;
  display: flex;
}

.header-nav-item2 {
  margin-right: 35px;
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  background-color: #4B565E;
  border-radius: 999px;
  border: 2px solid #F0BA4E;
}

.cart-text {
  color: white;
  font-size: 16px;
  white-space: nowrap;
}

.header-under {
  background-color: #F0BA4E;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
  height: 48px;
  color: #3C3C3B;
}

.under-nav {
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.header-stroky {
  margin-right: 10px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-container {
  position: relative;
  display: flex;
  width: 400px; 
}

.search-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  padding: 8px 0;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 0;
  bottom: 8px;
  width: 18px;
  height: 18px;
}

.location {
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  color: white;
}

.location-icon {
  width: 9px;
  height: 11px;
  align-items: center;
}

.country {
  align-items: center;
  background-color: #F0BA4E;
  border: none;
  background: none;
  padding: 3px;
  color: white;
  font-size: 14px;
}

.banner-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 53%;
  height: 99%;
  background: rgba(0, 0, 0, 0.7);
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  padding: 20px;
  color:#F0BA4E;
  text-align: center;
}

.overlay-text {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.header-disabled-container {
  display: flex;
  width: 1319px;
  height: 72px;
  margin: 0 auto;
  align-items: center;
  gap: 28px;
  margin-bottom: 20px;
}

.header-disabled-left {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.disabled-text {
  font-weight: normal;
  color: #808080;
}

.bold-black {
  font-weight: normal;
  color: #000000;
}

.icon3, .icon4, .icon5 {
  width: 72px;
  height: 72px;
}

.content-block {
  width: 1319px;
  height: 72px;
  margin: auto;
}
.item-cards__pagination {
  display: flex;
  justify-content: end;

  &-button {
    border: none;
    background: none;
    color: #A1A0A0;
  }
}

.active-button {
  color: #F0BA4E;
  font-weight: 600;
}

.item-cards__grid {
  display: flex;
}

.item-cards__grid-left {
  height: 428px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  max-height: 428px;
  max-width: 421px;
  background-image: url(/assets/image-19.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;
  margin-bottom: 200px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-left-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
}

.item-cards__grid-left-action {
  font-size: 13px;
  color: #3C3C3B;
  align-self: end;
  align-items: center;
  display: flex;
}

.item-cards__grid-left-action-link {
  height: 40px;
  width: 40px;
}

.item-cards__grid-right {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 30px;
  margin-left: 30px;
}

.item-cards__grid-right-block-1 {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  background-image: url(/assets/image_14.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-block-1-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.item-cards__grid-right-block-action-1 {
  font-size: 13px;
  color: #3C3C3B;
  align-self: end;
  align-items: center;
  display: flex;
}

.item-cards__grid-right-block-action-link-1 {  
  height: 40px;
  width: 40px;
}

.item-cards__grid-right-block-2 {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  background-image: url(/assets/image_17.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: right;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-block-2-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.item-cards__grid-right-block-action-2 {
  font-size: 13px;
  color: #3C3C3B;
  align-items: center;
  display: flex;
}

.item-cards__grid-right-block-action-link-2 {  
  height: 40px;
  width: 40px;
}

.item-cards__grid-right-block-3 {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  background-image: url(/assets/image_18.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: right;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-block-3-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
  display: flex;
}

.item-cards__grid-right-block-action-3 {
  font-size: 13px;
  color: #3C3C3B;
  align-items: center;
  display: flex;
}

.item-cards__grid-right-block-action-link-3 {  
  height: 40px;
  width: 40px;
}

.item-cards__grid-right-block-4 {
  width: 421px;
  height: 200px;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
  background-image: url(/assets/image_15.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: bottom;
  background-position-x: left;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cards__grid-right-block-4-text {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  font-weight: bold;
  display: flex;
}