<div class="header" xmlns="http://www.w3.org/1999/html">
    <div class="header-left">
        <div class="header-logo">
          <img src="/assets/Frame.svg" alt="Логотип">
        </div>
      <nav class="header-nav">
        <a class="header-nav-item">Главная</a>
        <a class="header-nav-item">О компании</a>
        <a class="header-nav-item">каталог</a>
      </nav>
    </div>
<div class="header2">
  <div class="header-right">
    <div class="header-phone">
      <img src="/assets/Phone.svg" alt="телефон">
    </div>
    <div class="header-nav2">
      <a class="header-nav-item2">+7(965) 084-29-29</a>
      <div class="header-nav-item2">
        <img src="/assets/heart%201.svg" alt="сердце" class="icon2тп">
      </div>
      <div class="cart-container">
        <img src="/assets/cart.svg" alt="корзина" class="icon">
        <span class="cart-text">Пусто</span>
      </div>
    </div>
  </div>
</div>
</div>

<div class="header-under">
  <div class="header-content">
    <div class="header-stroky">☰</div>
    <nav class="under-nav">
      <a class="under-nav-item">Каталог</a>
      <a class="under-nav-item">Стройматериалы</a>
      <a class="under-nav-item">Инструменты</a>
      <a class="under-nav-item">Электрика</a>
      <a class="under-nav-item">Интерьер и одежда</a>
    </nav>
  <div class="header-actions">
    <div class="search-container">
      <input type="text" placeholder="Поиск, например Круг зачистной" class="search-input">
      <img src="/assets/icons8-лупа.svg" alt="Поиск" class="search-icon">
    </div>
    <div class="location">
      <img src="/assets/location.svg" alt="Локация" class="location-icon">
      <span>Москва</span>
    </div>
  </div>
</div>
